@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1350px;
}

input {
    border-radius: 5px;
}

header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 24px;
    background-color: #FCFCFC;
    color: #000;
    font-family: 'Inder', sans-serif;
}

.header__social {
    height: 18px;
    margin-left: 20px;
}

.header__upper {
    height: 45px;
    font-size: 16px;
    border-bottom: 1px solid #000000;
}

.header__upper-controls {
    margin-right: 120px;
}

.header__upper-link {
    margin-right: 35px;
}

.header__upper-link:hover {
    text-decoration: underline;
}

.header__lower {}

.logo__img {
    object-fit: cover;
    height: 75px;
    margin-right: 10px;
}

.logo__text-title {
    margin: 0;
    padding: 0;
    font-size: 35px;
    border-bottom: 3px solid #fff;
}

.logo__text-subtitle {
    font-size: 24px;
}

.header__nav {
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
}

.nav__item {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 20px 20px;
    font-size: 26px;
}

.nav__item::after {
    display: block;
    content: '';
    border-bottom: solid 4px #000;
    border-radius: 15px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.nav__item-link {
    color: #000;
}

.nav__item-link:hover {
    color: #000;
}

.nav__item:hover::after {
    transform: scaleX(1);
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right-element {
    padding: 5px 14px;
    font-size: 24px;
    border: 3px solid rgba(255, 255, 255, 0);
    transition: .1s ease-in-out;
    color: #000;
}

.header__right-element:hover {
    border: 3px solid #fff;
    border-radius: 3px;
    color: #000;
}

.btn-dark {
    font-size: 30px;
}

.products {
    max-width: 1000px;
}

.aside__item {
    border-bottom: #212529 2px solid;
    transition: .2s ease-in-out;
    font-size: 30px;
}

.aside__item:hover {
    background-color: #212529;
    color: #000;
}

.aside__item:last-child {
    border-bottom: none;
}

.cards_container {
    display: flex;
    padding: 0 15px;
}

.cards__item {
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.cards__item-img {
    height: 240px;
    object-fit: cover;
}

h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards__item-title {
    font-size: 26px;
    font-weight: bold;
}

.cards__item-brand {
    font-size: 22px;
}

.category__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 15px;
    background-color: #D3D3D3;
    color: #fff;
    transition: ease-in-out .2s;
    font-size: 16px;
}

.category__item:hover {
    border: #000 4px solid;
    color: #fff;
}

.product__form {
    display: flex;
    flex-direction: column;
}

.product__form-item {
    margin: 10px;
    border-radius: 5px;
    font-size: 24px;
}

.statement__button {
    margin: 20px;
    padding: 5px 20px;
    border: 3px #212529 solid;
    border-radius: 5px;
    color: #212529;
    background-color: #fff;
    font-size: 30px;
    transition: .2s ease-in-out;
}

.statement__button:hover {
    color: #fff;
    background-color: #212529;
}

.footer {
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 7px rgba(0, 0, 0, 0.25);
}

.footer__upper {
    display: flex;
    justify-content: space-around;
}

.footer__social {
    display: flex;
    justify-content: center;
}

.footer__social a {
    padding: 5px;
}

.footer__lower {
    display: flex;
    justify-content: center;
}

.slider__item {
    height: 86vh;
    font-size: 26px;
}

.slider__text {
    font-size: 45px;
}

.slider__img {
    height: 100%;
    object-fit: cover;
}

.advantages {
    margin-top: 50px;
    font-size: 30px;
}

.advantages__list {
    padding-top: 20px;
    list-style-type: disc;
}

.inline-group {
    max-width: 9rem;
    padding: .5rem;
}

.inline-group .form-control {
    text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}